@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS 1', Arial;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#f8faff, #efefff);
}
.error{
    display: none;
    background: rgb(255, 63, 63);
    width: 25%;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    color: #ffffff;
}
.container{
    width: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    color: #000000;
    border-radius: 18px;
    background: #ffffff;
    box-shadow:  8px 8px 25px #bababa, -8px -8px 25px #ffffff;
}
.container form h2{
    font-size: 35px;
    text-align: center;
}
.container .input-box{
    position: relative;
    width: 100%;
    height: 45px;
    margin: 30px 0;
}
.container .input-box input{
    width: 100%;
    height: 100%;
    background: #00000000;
    border: none;
    outline: none;
    border-bottom: 2px solid #000000;
    font-size: 16px;
    color: #000000;
    padding: 5px;
}
.container .input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background: #ffffff;
}
.container .input-box input::placeholder{
    color: #6d6d6d;
}
.container .btn{
    width: 40%;
    height: 45px;
    background: #000000;
    color: #ffffff;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-weight: 700;
    cursor: pointer;
    box-shadow:  2px 2px 5px #bababa, -2px -2px 5px #ffffff;
}
.container .register-link{
    width: 50%;
    position: absolute;
    bottom: 10%;
    right: 10%;
    text-align: right;
    font-size: 11.5px;
}
.container .register-link a{
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}
.container .register-link a:hover{
    text-decoration: underline;
}